{{ $page := .wcPage }}
{{ $block := .wcBlock }}

<div class="row featurette d-flex flex-wrap justify-content-center">
  <div class="col-md-12 section-heading">
    <h1>Clients & Partners</h1>
  </div>

  {{ range site.Params.companies }}
  {{ $url := .url }}
  <div class="col-12 col-sm-4 d-flex justify-content-center">
    {{ with .icon }}
    <div class=" featurette-icon hover-zoom">
      {{- $svg_icon := resources.Get (printf "media/companies/%s.svg" .) -}}
      <a href="{{ $url }}" target="_blank">
        <img src="{{ $svg_icon.RelPermalink }}" alt="{{.}}"
          class="svg-icon svg-baseline w-100 img-fluid" loading="lazy">
      </a>
    </div>
    {{ end }}
  </div>
  {{ end }}
</div>
