{{ $page := .wcPage }}
{{ $block := .wcBlock }}

<div class="row featurette">
  {{ with $block.content.title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
  </div>
  {{ end }}

  {{ with $block.content.text }}
  <div class="col-md-12">
    {{ . | emojify | markdownify }}
  </div>
  {{ end }}

  {{ range $block.content.items }}
  {{ $url := .url }}
  <div class="col-12 col-sm-4">
    {{ with .icon }}
    <div class="featurette-icon hover-zoom">
      {{- $svg_icon := resources.Get (printf "media/companies/%s.svg" .) -}}
      <a href="{{ $url }}" target="_blank">
        <img src="{{ $svg_icon.RelPermalink }}" alt="{{.}}"
          class="svg-icon svg-baseline w-100 img-fluid" loading="lazy">
      </a>
    </div>
    {{ end }}
  </div>
  {{ end }}
</div>
